.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.enter-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #D9FDD4;
    border-radius: 0.9375rem;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;

    &__header {
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.1875rem;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 1.5625rem;
    }

    &__form-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 4.375rem;

        :last-child {
            margin-bottom: 0;
        }
    }

    &__form-item {
        box-sizing: border-box;
        padding: 1.25rem;
        width: 100%;
        margin-bottom: 1.9375rem;
        border: 1px solid #9C9C9C;
        background-color: transparent;
    }

    &__btn {
        width: 100%;
        height: 3.0625rem;
        background: #141414;
        color: #fff;
        cursor: pointer;
    }

    &__error-message {
        color: red;
    }
}
